*{margin: 0; padding: 0; box-sizing: border-box;}
body {display: flex; width: 100%; height: 100vh; justify-content: center; align-items: center; background: #cecece; overflow: hidden;}
li { list-style: none; }
a {text-decoration: none;}

.menu-tab-bar {
    position: relative; min-width: 350px; min-height: 80px; display: grid; grid-template-columns: repeat(5, 1fr); border-radius: 10px; padding: 0 15px; background: #000; 
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.12) 0 22.3px 17.9px rgba(0, 0, 0, 0.08) 0 100px 80px rgba(0, 0, 0, 0.04); overflow: hidden; color: #fff;
}

.menu-tab-bar ul {height: 100%; display: flex; justify-content: center; align-items: center;}
.menu-tab-bar ul a {width: 100%; height: 100%; cursor: pointer; font-size: 20px;}
.menu-tab-bar ul a i {color: #fff; width: 100%; height: 100%; opacity: 0.4; transition: opacity 100ms ease;}
.menu-tab-bar ul a.active i {opacity: 1;}

